<div id="authenticator">
    <mat-card id="authenticator-component">
        <mat-card-header>
            <mat-card-title *ngIf="state == 'LOGIN'">
                Login
            </mat-card-title>
            <mat-card-title *ngIf="state == 'REGISTER'">
                Register
            </mat-card-title>
            <mat-card-title *ngIf="state == 'FORGOT'">
                Forgot Password
            </mat-card-title>
        </mat-card-header>
        <div *ngIf="state == 'LOGIN'" [formGroup]="loginForm">
            <input placeholder="Email" formControlName="email">
            <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                <small *ngIf="loginForm.get('email').errors?.required">Email is required</small>
                <small *ngIf="loginForm.get('email').errors?.email">Provide a valid email address</small>
            </div>
            <input placeholder="Password" type="Password" formControlName="password">
            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                <small *ngIf="loginForm.get('password').errors?.required">Password is required</small>
                <small *ngIf="loginForm.get('password').errors?.minlength || loginForm.get('password').errors?.maxlength">Password must be 8 to 16 characters long</small>
            </div>
            <div *ngIf="userNotFound">
                <small>Provided email is not in use</small>
            </div>
            <div *ngIf="wrongPassword">
                <small>Provided password is incorrect</small>
            </div>
            <button [disabled]="!loginForm.valid" (click)="onLoginSubClick()" mat-flat-button color="warn">Login</button>
        </div>
        <div *ngIf="state == 'FORGOT'" [formGroup]="resetForm">
            <input placeholder="Email" type="email" formControlName="email">
            <div *ngIf="resetForm.get('email').invalid && resetForm.get('email').touched">
                <small *ngIf="resetForm.get('email').errors?.required">Email is required</small>
                <small *ngIf="resetForm.get('email').errors?.email">Provide a valid email address</small>
            </div>
            <div *ngIf="invalidEmail">
                <small>Provided email is not in use</small>
            </div>
            <button [disabled]="!resetForm.valid" (click)="onResetSubClick()" mat-flat-button color="warn">Reset Password</button>
        </div>
        <div *ngIf="state == 'REGISTER'" [formGroup]="regForm">
            <input formControlName="email" placeholder="Email" type="email"> 
            <div *ngIf="regForm.get('email').invalid && regForm.get('email').touched">
                <small *ngIf="regForm.get('email').errors?.required">Email is required</small>
                <small *ngIf="regForm.get('email').errors?.email">Provide a valid email address</small>
            </div>
            <input formControlName="password" placeholder="Password" type="password">
            <div *ngIf="regForm.get('password').invalid && regForm.get('password').touched">
                <small *ngIf="regForm.get('password').errors?.required">Password is required</small>
                <small *ngIf="regForm.get('password').errors?.minlength || regForm.get('password').errors?.maxlength">Password must be 8 to 16 characters long</small>
            </div>
            <input formControlName="confirmPassword" placeholder="Confirm Password" type="password">
            <div *ngIf="regForm.get('confirmPassword').invalid && regForm.get('confirmPassword').touched ||regForm.get('password').value != regForm.get('confirmPassword').value && regForm.get('confirmPassword').touched ">
                <small *ngIf="regForm.get('confirmPassword').errors?.required">Confirm Password is required</small>
                <small *ngIf="regForm.get('password').value != regForm.get('confirmPassword').value">Password does not match</small>
            </div>
            <div *ngIf="emailAlreadyInUse">
                <small>Provided email is already in use</small>
            </div>
            <button [disabled]="!regForm.valid" (click)="onRegSubClick()" mat-flat-button color="warn">Create</button>
        </div>
        <div>

        </div>
        <mat-card-actions align="end">
            <button (click)="onForgotPasswordClick()" mat-flat-button>Forgot Password</button>
            <button (click)="onCreateClick()" mat-flat-button>Create an Account</button>
            <button (click)="onLoginClick()" mat-flat-button>Login</button>
        </mat-card-actions>
    </mat-card>
</div>